http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 11:55:13 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":107},"results":[]}'
  recorded_at: 2020-11-27 12:41:32 GMT
  recorded_with: vcr/0.5.5.91, webmockr/0.7.0
- request:
    method: get
    uri: https://api.openaq.org/v1/countries?limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":107},"results":[{"code":"AD","count":199194,"locations":3,"cities":2,"name":"Andorra"},{"code":"AE","count":711297,"locations":4,"cities":3,"name":"United
        Arab Emirates"},{"code":"AF","count":173295,"locations":2,"cities":2,"name":"Afghanistan"},{"code":"AG","count":1,"locations":1,"cities":1,"name":"Antigua
        and Barbuda"},{"code":"AR","count":14976,"locations":4,"cities":1,"name":"Argentina"},{"code":"AT","count":6201041,"locations":541,"cities":25,"name":"Austria"},{"code":"AU","count":11906673,"locations":183,"cities":65,"name":"Australia"},{"[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=DE&limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 11:55:13 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":36},"results":[]}'
  recorded_at: 2020-11-27 12:41:32 GMT
  recorded_with: vcr/0.5.5.91, webmockr/0.7.0
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=DE&limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 11:55:13 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10000,"found":36},"results":[{"country":"DE","name":"Andrea
        Schemmel","city":"Andrea Schemmel","count":106915,"locations":10},{"country":"DE","name":"Andreas
        Hainsch","city":"Andreas Hainsch","count":309554,"locations":38},{"country":"DE","name":"Annette
        Pausch","city":"Annette Pausch","count":216793,"locations":34},{"country":"DE","name":"Baden-Württemberg","city":"Baden-Württemberg","count":667582,"locations":42},{"country":"DE","name":"Bayern","city":"Bayern","count":1240173,"locations":55},{"country":"DE","name":"Berlin","city":"Berlin","count":265892[...]
[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/locations?country=DE&city=Heinz%20Ott&limit=1&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 11:55:13 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":1,"found":55},"results":[{"id":"DE-249","country":"DE","city":"Bayern","cities":["Heinz
        Ott","Bayern"],"location":"DEBY001","locations":["Ansbach/Residenzstraße","Ansbach/Residenzstra�e","DEBY001"],"sourceName":"EEA
        Germany","sourceNames":["EEA Germany"],"sourceType":"government","sourceTypes":["government"],"coordinates":{"longitude":10.5723,"latitude":49.30489},"firstUpdated":"2016-11-21T11:00:00.000Z","lastUpdated":"2020-11-27T01:00:00.000Z","parameters":["co","no2","pm10","pm25","so2"],"countsByMeasurement":[{"parameter":"co","count":11250},{"parameter":"no2","count":10613},{"parameter":"pm10","count":10790},{"parameter":"pm25","count":10834},{"parameter":"so2","count":4649}],"count":48136}]}'
  recorded_at: 2020-11-27 12:41:32 GMT
  recorded_with: vcr/0.5.5.91, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=AT&limit=0&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 11:55:13 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":0,"found":25},"results":[]}'
  recorded_at: 2020-11-27 12:41:32 GMT
  recorded_with: vcr/0.5.5.91, webmockr/0.7.0
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?country=AT&limit=10000
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 11:55:13 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"op[...]
[...]
- request:
    method: get
    uri: https://api.openaq.org/v1/locations?country=AT&city=Amt%20der%20K%EF%BF%BDrntner%20Landesregierung&limit=1&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 11:55:13 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":1,"found":17},"results":[{"id":"AT-204","country":"AT","city":"Amt
        der K�rntner Landesregierung","cities":["Amt der K�rntner Landesregierung"],"location":"Klagenfurt
        A2 Nordumfahrung ","locations":["Klagenfurt A2 Nordumfahrung "],"sourceName":"EEA
        Austria","sourceNames":["EEA Austria"],"sourceType":"government","sourceTypes":["government"],"coordinates":{"longitude":14.26889,"latitude":46.65278},"firstUpdated":"2017-02-18T07:00:00.000Z","lastUpdated":"2017-02-24T10:00:00.000Z","parameters":["no2"],"countsByMeasurement":[{"parameter":"no2","count":148}],"count":148}]}'
  recorded_at: 2020-11-27 12:41:32 GMT
  recorded_with: vcr/0.5.5.91, webmockr/0.7.0
