http_interactions:
- request:
    method: get
    uri: https://api.openaq.org/v1/cities?limit=10&page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      last-modified: Fri, 27 Nov 2020 09:08:03 GMT
    body:
      encoding: UTF-8
      file: no
      string: '{"meta":{"name":"openaq-api","license":"CC BY 4.0","website":"https://docs.openaq.org/","page":1,"limit":10,"found":3223},"results":[{"country":"AD","name":"Escaldes-Engordany","city":"Escaldes-Engordany","count":182833,"locations":2},{"country":"AD","name":"unused","city":"unused","count":16301,"locations":1},{"country":"AE","name":"Abu
        Dhabi","city":"Abu Dhabi","count":321505,"locations":1},{"country":"AE","name":"Dubai","city":"Dubai","count":348927,"locations":1},{"country":"AE","name":"N/A","city":"N/A","count":40437,"locations":2},{"country":"AF","name":"Kabul","city":"Kabul","count":166077,"locations":1},{"country":"AF","name":"N/A","city":"N/A","count":7072,"locations":1},{"country":"AG","name":"N/A","city":"N/A","count":1,"locations":1},{"country":"AR","name":"Buenos
        Aires","city":"Buenos Aires","count":14976,"locations":4},{"country":"AT","name":"Amt
        der Burgenländischen Landesregierung","city":"Amt der Burgenländischen Landesregierung","count":471,"locations":1}]}'
  recorded_at: 2020-11-27 10:35:47 GMT
  recorded_with: vcr/0.5.5.91, webmockr/0.7.0
